body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:aliceblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Inserted pic for jumbotron*/
.jumbotron {
    background-image: url('../Images/images (2).jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1.5;
}
/*class links made to seperate boxes*/
.links {
    border:2px solid black;
    height:325px;
    text-align:center;
    margin:30px;
    padding-left:15px
    
}
#samsung {
    background-color:blue;
    color:ghostwhite;
    margin-left:75px;
     
}
.navbar.navbar-inverse.navbar-fixed-top {
    color:white;
    background-color:blue;
    display:block;
}
.navbar.navbar-inverse.navbar-fixed-top a:hover{
    display:block;
    background-color:black;
}
/*set class for review index*/
.col-md-3 {
    border: solid blue;
    margin-bottom: 4px;
    padding: 25px;
    font-size: 25px;
    background-image: url('../Images/phone.jpg');
    background-repeat:no-repeat;
    background-position:right;
}
.review {
    background-color:gray;
    margin:25px;
    padding:25px;
}

