@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>PHONE REVIEW 2017</h1>
        <p class="lead">Phone Review is the number one source for your choice.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-2 links" id="samsung">
            <h2>Samsung</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://www.samsung.com/us/explore/galaxy-s8/?cid=pcc-">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2 links">
            <h2>IPhone</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://www.apple.com/iphone-7/?afid=p238%7Cs6HPNxDZt-dc_mtid_20925d2q39172_pcrid_191097763355&cid=wwa-us-kwgo-iphone-slid--">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2 links" id="samsung">
            <h2>LG</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://www.lg.com/us/cell-phones/all-cell-phones?&cmpid=sem_(LG)-AON-GGL-Srch-Brand-Lg-Only-EXT_lg&gclid=CMXbz8_JrNUCFQKWswod9-MAgg&gclsrc=ds">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2 links">
            <h2>HTC</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://www.htc.com/us/smartphones/htc-u11/?network=g&campaignid=739815815&adgroupid=39049547739&creative=196553163996&keyword=htc&gclid=Cj0KCQjwwevLBRCGARIsAKnAJvdzlsRAIzOOSH2Dkrl0s50QR8N_GEmnwDObRcAXozCwTDPNfO5PZQkaAg9NEALw_wcB">Learn more &raquo;</a></p>
        </div>
    </div>
</div>