@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>PHONE REVIEW 2017</h1>
        <p class="lead">Phone Review is the number one source for your choice.</p>
        <p><a href="https://www.google.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

@*Made links active to corresponding site*@

<div class="container">
    <div class="row">
        <div class="col-md-2 links" id="samsung">
            <h2>Samsung</h2>
            <p>
                Click button below to go directly to website!
            </p>
            <p><a class="btn btn-default" href="http://www.samsung.com/us/explore/galaxy-s8/?cid=pcc-">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2 links">
            <h2>IPhone</h2>
            <p>Click button below to go directly to website!</p>
            <p><a class="btn btn-default" href="https://www.apple.com/iphone-7/?afid=p238%7Cs6HPNxDZt-dc_mtid_20925d2q39172_pcrid_191097763355&cid=wwa-us-kwgo-iphone-slid--">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2 links" id="samsung">
            <h2>LG</h2>
            <p>Click button below to go directly to website!</p>
            <p><a class="btn btn-default" href="http://www.lg.com/us/cell-phones/all-cell-phones?&cmpid=sem_(LG)-AON-GGL-Srch-Brand-Lg-Only-EXT_lg&gclid=CMXbz8_JrNUCFQKWswod9-MAgg&gclsrc=ds">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-2 links">
            <h2>HTC</h2>
            <p> Click button below to go directly to website!</p>
            <p><a class="btn btn-default" href="http://www.htc.com/us/smartphones/htc-u11/?network=g&campaignid=739815815&adgroupid=39049547739&creative=196553163996&keyword=htc&gclid=Cj0KCQjwwevLBRCGARIsAKnAJvdzlsRAIzOOSH2Dkrl0s50QR8N_GEmnwDObRcAXozCwTDPNfO5PZQkaAg9NEALw_wcB">Learn more &raquo;</a></p>
        </div>
    </div>
</div>